<!--include header-->
<%-include('include/_header')%>
<!--include header-->

<!--Main site-->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-angle-left"></i>All Movies</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">New Movie</h2>
            <span class="text-light">Use the form underneath to add movies</span>
        </div>
       <!-- add user form-->
       <%-include('include/_form')%>
    </div>
</main>
<!--/Main site-->

<!--include footer-->
<%-include('include/_footer')%>
<!--include footer-->