 <!--form handling-->
 <form action="/api/movies" method="POST" id="add_movie">
    <div class="new_movie">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="movie_title" value="" placeholder="Spiderman">
        </div>
        <div class="form-group">
         <label for="date" class="text-light">Date</label>
         <input type="date" name="release_date" value="" placeholder="dd.mm.yyyy">
        </div>
        <div class="form-group">
         <label for="date" class="text-light">Box Office</label>
         <input type="number" name="box_office" value="" placeholder="200.000.000.000">
        </div>
        <div class="form-group">
            <button type="submit" class="button">Save</button>
        </div>

    </div>
 </form>
 