<% for(var i=0; i<movies.length; i++){%> 
<tr>
    <td><%=i+1%></td>
    <td><%=movies[i].Movie_Title%></td>
    <td><%=movies[i].Release_Date%></td>
    <td><%=movies[i].Box_Office%></td>
    <td>
        <a href="update-movie?id=<%movies[i]._id%>" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete">
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>
<% } %>