<tr>
    <td>1</td>
    <td>sherlock</td>
    <td>01.01.2000</td>
    <td>200.000.00</td>
    <td>
        <a href="update-movie" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete">
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>